= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :body

  .form-actions
    = f.button :submit

    = link_to 'Все посты', posts_path, class: 'btn btn-default'
